source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug enp1s0
iface enp1s0 inet static
      address {{ host_ip_adm[0] }}
      netmask {{ host_ip_adm[2] }}
      gateway {{ host_gateway_adm }}
