# netdata configuration
#
# You can download the latest version of this file, using:
#
#  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
# or
#  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#
# You can uncomment and change any of the options below.
# The value shown in the commented settings, is the default value.
#

# global netdata configuration
[global]
    run as user = netdata

    # the default database size - 1 hour
    history = 7200

    # some defaults to run netdata with least priority
    process scheduling policy = idle
    OOM score = 1000

    stock config directory = /etc/netdata/conf.d

[web]
    web files owner = root
    web files group = netdata

    # by default do not expose the netdata port
    bind to = {{ host_dns_adm[0] }}

[health]
    stock health configuration directory = /etc/netdata/conf.d/health.d
