  network:
    version: 2
    renderer: networkd
    ethernets:
      enp1s0:
        dhcp4: no
        addresses:
          - {{ host_ip_adm[1] }}
        gateway4: {{ host_gateway_adm }}
        nameservers:
            addresses: [ {{ host_dns_adm[0] }}, {{ host_dns_adm[1] }}]
